.menu {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 40px;
  font-size: 12px;
  font-weight: 600;

  @media screen and (max-width: 768px) {

    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.logo {
  position: absolute;
  top: 0px;
  left: 40px;
  top: 5px;
  bottom: 5px;

}

.menuItem {
  margin-right: 22px;
}

.button {
  position: absolute;
  top: 0px;
  right: 40px;
  top: 5px;
  bottom: 5px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
}